/* CSS goes here: */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: sans-serif;
}

:root{
  --background: #F8F8F8;
  --component-bg: #FCFCFC;
  --box-shadow: #e6e6e6;
  --text-strongest: #171717;
  --text-primary: #8F8F8F;
  --text-secondary: #aaaaaa;
  --xl-text: 24px;
  --large-text: 16px;
  --medium-text: 12px;
  --small-text: 8px;
}

.svg1 path {
  fill: var(--text-primary);
}

body{
background-color: var(--background);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background);
  padding: 35px;
}

.component{
  display: flex;
  flex-direction: row;
  gap: 4px;
  background-color: var(--component-bg);
  padding: 8px 4px 6px 8px;
  border: 1px solid #EDEDED;
  border-radius: 6px;
  color: var(--text-primary);
  box-shadow: 1px 3px 3px var(--box-shadow);
  width: 450px;
  height: 72px;
}

input{
    height: auto;
    border: 0;
    outline: none;
    background-color: var(--component-bg);
    font-size: var(--large-text);
    letter-spacing: -0.01em;
    color: var(--text-strongest);
    caret-color: #ff4d6d;
}

::placeholder {
  color: var(--text-secondary);
  opacity: 1; /* Firefox */
}